<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>FootballDataAPIKey</key>
    <string>a05c9c5098ad4021830cf9083fc9bc6c</string>
    <key>OddsAPIKey</key>
    <string>8d48a403b4501c1e3452c90ff9af81e3</string>
    <key>OddsBaseURL</key>
    <string>https://api.the-odds-api.com/v4</string>
</dict>
</plist>
